<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Account</title>

    <!-- Style Sheet Connection -->
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- Link to JavaScript code -->
    <script src="./server.js"></script>
</head>

<body>
    <header>
        <!-- Tab header -->
        <div class="tab">
            <!-- Home  -->
            <a href="/"><input type="button" value="Home" id="homeTabButton"></a>

            <!-- About -->
            <a href="/about"><input type="button" value="About" id="idTabButton"></a>
            
            <!-- Add app -->
            <a href="/addApplication"><input type="button" value="Add Application" id="addTabButton"></a>
            
            <!-- Display app -->
            <a href="/displayApplication"><input type="button" value="Display Application" id="displayTabButton"></a>

            <!-- Search job -->
            <a href="/search"><input type="button" value="Job Search" id="searchTabButton"></a>
    
            <!-- Resources -->
            <a href="/resources"><input type="button" value="Resources" id="resourcesTabButton"></a>
            
            <!-- Sign in -->
            <a href="/account"><input type="button" value="Sign in" id="accountTabButton"></a>
        </div>
    </header>
    
    <div id="createForm">
        <form action="/createAccount" method="post">
            <fieldset>
                <h1>Create Account</h1>
    
                <!-- First & last name -->
                <input type="text" placeholder="First Name" name="firstName_create_acct" required>
                <br>
                <input type="text" placeholder="Last Name" name="lastName_create_acct" required>
                <br>
                <!-- Email -->
                <input type="email" placeholder="Email" name="email_create_acct" required>
                <br>
                <!-- Username -->
                <input type="text" placeholder="Username" name="username_create_acct" required>
                <br>
                <!-- Password -->
                <input type="password" placeholder="Password" name="password_create_acct" required>
                <br>
                <!-- Create -->
                <br>
                <input type="submit" value="Sign Up">
                <br>

                <hr>
                <p>Already have an account? <a href="/account">Sign in</a></p>
    
            </fieldset>
        </form>

    </div>
    

</body>

</html>