<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Job Search</title>

    <!-- Style Sheet Connection -->
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- Link to JavaScript code -->
    <script src="./server.js"></script>
</head>

<body>
    <header>
        <!-- Tab header -->
        <div class="tab">
            <!-- Home  -->
            <a href="/"><input type="button" value="Home" id="homeTabButton"></a>

            <!-- About -->
            <a href="/about"><input type="button" value="About" id="idTabButton"></a>
            
            <!-- Add app -->
            <a href="/addApplication"><input type="button" value="Add Application" id="addTabButton"></a>
            
            
            <!-- Display app -->
            <a href="/displayApplication"><input type="button" value="Display Application" id="displayTabButton"></a>

            <!-- Search job -->
            <a href="/search"><input type="button" value="Job Search" id="searchTabButton"></a>
            
            <!-- Resources -->
            <a href="/resources"><input type="button" value="Resources" id="resourcesTabButton"></a>
            
            
            <!-- Sign in/out -->
            <a href="/account"><%- signButton %></a>

        </div>
    </header>
    <div id="searchForm">
        <form action="/search" method="post">
            <fieldset>
                <h1>Search for a Job</h1>
                <input type="text" placeholder="Job Title" name="title" id="title" required>
                <br>
    
                <input type="text" placeholder="Location" name="location" id="location" required>
                <br>
    
                <input type="submit" value="Find Job">
                <br>
                <input type="reset" value="Clear">
            </fieldset>
        </form>

    </div>

    <br>
    <br>

    <div id="searchTable">
        <%- displayTable %>
    </div>
    
   
</body>

</html>