<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign-In</title>

    <!-- Style Sheet Connection -->
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- Link to JavaScript code -->
    <script src="./server.js"></script>
</head>

<body>
    <header>
        <!-- Tab header -->
        <div class="tab">
            <!-- Home  -->
            <a href="/"><input type="button" value="Home" id="homeTabButton"></a>

            <!-- About -->
            <a href="/about"><input type="button" value="About" id="idTabButton"></a>
            
            <!-- Add app -->
            <a href="/addApplication"><input type="button" value="Add Application" id="addTabButton"></a>
            
            <!-- Display app -->
            <a href="/displayApplication"><input type="button" value="Display Application" id="displayTabButton"></a>

            <!-- Search job -->
            <a href="/search"><input type="button" value="Job Search" id="searchTabButton"></a>

            <!-- Resources -->
            <a href="/resources"><input type="button" value="Resources" id="resourcesTabButton"></a>
            
            <!-- Sign in -->
            <a href="/account"><input type="button" value="Sign in" id="accountTabButton"></a>
        </div>
    </header>

    <div id="signInForm">
        <form action="http://localhost:5500/account" method="post">
            <fieldset>
                <h1>Sign In</h1>

                <!-- Username -->
                <input type="text" placeholder="Username" name="username_sign_in" required>
                <br>
                <!-- Password -->
                <input type="password" placeholder="Password" name="password_sign_in" required>
                <br><br>
                <!-- Sign in button -->
                <input type="submit" value="Sign in">
                <br>

                <hr>
                <p>Need an account? <a href="/createAccount">Create Account</a></p>
            </fieldset>
        </form>
    </div>

</body>

</html>